.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 0);
    padding-bottom: calc(var(--mantine-spacing-xl) * 0);
}

.title {
    font-family: "Greycliff CF", var(--mantine-font-family);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;

    /* Correcting media query syntax */
    @media screen and (max-width: var(--mantine-breakpoint-sm)) {
        font-size: 28px;
        text-align: left;
    }
}

.description {
    text-align: center;

    /* Correcting media query syntax */
    @media screen and (max-width: var(--mantine-breakpoint-sm)) {
        text-align: left;
    }
}

